

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 3px;
  font-size: 20px;
}


body{
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    align-items: center;


}
.healthbar-container {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 250px;
    gap: 20vw;
}

.healthbar {
    height: 50px;
    width: 300px;
    border: solid black;
    display: flex;
    align-items: center;
    padding-left: 20px;
    transition: all .07s;
}


.user {
    background-color: green;

}


.com {
    background-color: gray;

}
.weapons-container {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    
}

.blur {
    filter: blur(10px);
}

.weapon {
    border: solid black;
    width: 200px;
    height: 200px;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.results-screen {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    text-align: center;
}

.results {
    font-size: 150px;
}
.play-again {
    font-size: 60px;
    color: gray;

}


